    <div class="panel-body">
        <h3>Interested in becoming a partner?</h3>
        <p>Simply complete the form below and one of our experienced team will be in contact with you shortly.</p>
        <form id="partnerform" action="http://www.exertismicro-p.info/formtools/process.php" method="post" role="form">

            <input type="hidden" name="form_tools_form_id" value="14" />
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name*" name="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Company*" name="company">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email*" name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone*" name="phone">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Postcode" name="postcode">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
